@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <fieldset class="fieldset">
        <legend class="border">Shell Prompt: </legend>
        <div class="shell-prompt-bg shell-prompt">
            <span class="capture-output">

            </span>
            <div class="shell-prompt-tag">
                <div class="shell-prompt-container">
                    <span class="shell-default-text">CS></span>
                    <textarea autofocus="autofocus" name="input-text" rows="1" wrap="soft" class="shell-prompt-bg remove-border shell-input-prompt"></textarea>
                </div>
            </div>
        </div>
    </fieldset>
</div>